@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@{ 
    ViewBag.Title = "Form";
}



  

@{




    if (IsPost)
    {
        
        string friendsname = Request.Form["friendsname"];
        string yourname = Request.Form["yourname"];
        string salonname = Request.Form["salonname"];
        string stylistname = Request.Form["stylistname"];

        <text>
            You entered: <br />
            Friends Name: @friendsname <br />
            Your Name: @yourname <br />
            Salon Name: @salonname <br />
            Stylist Name: @stylistname <br />
        </text>
        }
    }



    @using (Html.BeginForm())
    {
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Looking for:</h1>
                        <div>
                            @Html.Label("Friends Name", new { @class = "control-label" })
                            @Html.TextBox("FriendsName", null,new { @class = "form-group" })
                        </div>
                        <div>
                            <label>&nbsp;</label>
                            <input type="submit" value="Submit" class="submit" />
                        </div>



                        <h1>Share your salon and stylist here:</h1>

                        <div>
                            @Html.Label("Your Name", new { @class = "control-label" })
                            @Html.TextBox("YourName", null, new { @class = "form-group" })
                        </div>
                        <div>
                            @Html.Label("Salon Name", new { @class = "control-label" })
                            @Html.TextBox("SalonName", null, new { @class = "form-group" })
                           
                        </div>
                        <div>
                            @Html.Label("Stylist Name", new { @class = "control-label" })
                            @Html.TextBox("StylistName", null, new { @class = "form-group" })
                            
                        </div>
                        <div>
                            <label>&nbsp;</label>
                            <input type="submit" value="Submit" class="submit" />
                        </div>
                    </div>
                </div>
            </div>
    }

  


