@model IEnumerable<hairByMouth2.Models.EntryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Please log in as User or Register as new user to Edit your information</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yourName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stylistName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.yourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stylistName)
            </td>
            <td>
                @if (Request.IsAuthenticated)
                {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                }
                @if(Request.IsAuthenticated)
                { 
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>

